<!-- # Copyright (C) 2017 Atomic Jolt

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>. -->
<style>
  body {
    width: 100%;
    height: 100%;
    background-color: darkblue;
  }

  .jd-proctor-code-container {
    width: 25%;
    margin: 20% auto;
  }

  .jd-title {
    font-weight: bold;
    color: white;
  }

  .jd-flex {
    display: flex;
  }

  .jd-proctor-code-text {
    width: 100%;
    flex: 1;
  }

  .jd-start-exam-button {
    margin-top: 10px;
    background-color: #c1a17a;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    float: right;
  }
</style>
<%= render partial: 'shared/flash_notices' %>
<div class="jd-main-content">
  <div class="jd-proctor-code-container">
    <div class="jd-title">Proctor Code</div>
    <div>
      <%= form_tag(proctored_exams_path, method: "post") do %>
        <div class="jd-flex">
          <input class="jd-proctor-code-text" type="password" name="proctor_code"></input>
        </div>
        <div><button class="jd-start-exam-button" type="submit">START EXAM</button></div>
      <% end %>
    </div>
  </div>
</div>
